<div id="alert-msg" class="alert-msg">
	<% if(success) { %>
	<div class="ui icon success message">
		<i class="inbox icon"></i>
		<i class="close icon"></i>
		<div class="content">
			<div class="header"><%= success %></div>
		</div>
	</div>
	<% } %>

	<% if(info) { %>
	<div class="ui icon info message">
		<i class="inbox icon"></i>
		<i class="close icon"></i>
		<div class="content">
			<div class="header"><%= info %></div>
		</div>
	</div>
	<% } %>

	<% if(error) { %>
	<div class="ui icon error message">
		<i class="inbox icon"></i>
		<i class="close icon"></i>
		<div class="content">
			<div class="header"><%= error %></div>
		</div>
	</div>
	<% } %>
</div>